.dataContainer{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 42px 5px rgba(0, 0, 0, 0.1);
  padding: 12px 18px;
  margin-top: 20px;

}
.dataContainer caption{
  background-color: #f9fbfa;
  padding: 10px 18px;
}
.dataContainer thead tr th{
  background-color: #f9fbfa;
  padding: 10px 18px;
}

.dataContainer tbody tr th,
.dataContainer tbody tr td{
  padding: 10px 18px;
}

.dataContainer td button{
  width: 50%;
}