.titleWrapper{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 12px 18px;
  margin-top: 20px;
}
.titleWrapper h1{
  font-size: 28px;
  font-weight: 700;
}
.titleWrapper p{
  color: gray;
  margin: 0;
}